.login-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), #000),
      url("../../assets/images/login/login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }